body{
    background-color:black;
  }
  
  .sub-container1{
    width:300px;
    height:100%;
    position:fixed;
    top:0;
    margin-right:20px;
    background-color: rgba(245, 245, 245, 0.029);
    text-align: center;
   
  }
  
  .sub-container1 .sub-part{
    background-color: rgba(245, 245, 245, 0.101);
    width:100%;
    height:350px;
    padding-top:40px;
    padding-bottom:20px;
  }
  
  .sub-container2{
    height:100vh;
    width:fit-content;
    margin-left:20%;
    right:0;
    padding:10px;
    
  }
  
  .head{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom:0px;
  }
  
  .para{
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:16px;
    font-weight: 400;
    word-spacing: 1px;
   text-justify:inter-word
  }
  
  .image{
    border-radius:50%;
    height:200px;
    width:200px;
    
  }
  
  .img1{
    border-radius:3px;
    margin:5px;
  }
  
  .head1{
    color:white;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
    font-family:serif; 
  }

.heading{
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display:inline;
    font-size: 50px;
    font-weight: 600;
}

.head2{
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display:inline;
    font-size: 25px;
    font-weight: 600;
}

.para1{
    display:inline;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 18px;
}

.para2{
    display:inline;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 18px;
}

.div1{
    height:3px;
    width:120px;
    border-radius: 10px;
    background: linear-gradient(to right,navy,white);
}

.div2{
    height:3px;
    width:120px;
    border-radius: 10px;
    background:linear-gradient(to right,rgb(204, 39, 67),pink,white);
}

.design{
    margin-right:30px;
}

.design1{
    margin-right:80px;
}

.design2{
    margin-right:40px;
}

.btn2{
    height:5px;
    width:100px;
    background:linear-gradient(to right,navy,navy,navy,white,white,white);
    border-radius:10px;
}

.btn3{
    height:5px;
    width:100px;
    background:linear-gradient(to right,navy,navy,navy,white,white);
    border-radius:10px;
}

.btn4{
    height:5px;
    width:100px;
    background:linear-gradient(to right,navy,navy,navy,white);
    border-radius:10px;
}

.btn5{
    height:5px;
    width:280px;
    background:linear-gradient(to right,rgb(204, 39, 67),rgb(171, 51, 71),rgb(171, 51, 71),white,white);
    border-radius:10px;
}

.btn6{
    height:5px;
    width:280px;
    background:linear-gradient(to right,rgb(204, 39, 67),rgb(205, 69, 92),rgb(205, 69, 92),white);
    border-radius:10px;
}

.btn7{
    height:5px;
    width:280px;
    background:linear-gradient(to right,rgb(204, 39, 67),rgb(184, 42, 66),rgb(153, 38, 57));
    border-radius:10px;
}

.btn8{
    height:5px;
    width:280px;
    background:linear-gradient(to right,rgb(204, 39, 67),rgb(152, 43, 61),rgb(153, 37, 56),white);
    border-radius:10px;
}

.sub{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.sub1{
    display:flex;
    justify-content: space-between;
}

.sub-1{
    width:max-content;
    height:500px;
    margin-left:20px;
    margin-right:50px;
}


  .lists{
    display:none;
  }
  
  #list{
    display: none;
  }

.btn1{
    height:30px;
    width:max-content;
    padding:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:2px solid navy;
    color:white;
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right:10px;
   float:left;
}



.para1{
    font-size:14px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float:right;
}

.para2{
    font-size:18px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
   
}

.sub-2{
    display:flex;
    justify-content: space-evenly;
}

  .educate{
    display:flex;
    flex-direction: column;
    
  }
    
  @media (max-width:1225px){
    .sub-container1{
      display: none;
    }
  
    .lists{
      display:flex;
      justify-content:space-between;
      margin-top:10px;
      padding:20px;
    }
  
    #list{
      display: flex;
      justify-content: space-around;
      color: white;
      list-style: none;
    }
  
    #list li a{
      text-decoration: none;
      color:white;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-right:20px;
      list-style: none;
    }
  
   
  }
  
  
  
  
  